.chat-msg-list{
    display: flex;
    position: relative;
    width:100%;
    min-height:40px;
    align-items: flex-start;
    justify-content: flex-end;
    margin-top:15px;
}
.chat-msg-list2{
    display: flex;
    position: relative;
    width:100%;
    min-height:40px;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top:15px;
}
.chat-msg-white{
    position: relative;
    width:80px;
    height:auto;
}
.chat-msg-block{
    position: relative;
    flex:1;
    max-width: 215px;
    height:auto;
    min-height:40px;
    padding:10px;
    font-size:14px;
    line-height:19px;
    word-break: break-word;
    border-radius: 4px;
    text-align: justify;
}



.self-bac{
    background-color: #9EEA6A;
}
.other-bac{
    background-color: #fff;
}

.other-bac:before{
    content:"";
    position: absolute;
    left:-5px;
    top:15px;
    width:0;
    height:0;
    border-right:6px solid #fff;
    border-top:4px solid transparent;
    border-bottom:4px solid transparent;
}

.self-bac:before{
    content:"";
    position: absolute;
    right:-5px;
    top:15px;
    width:0;
    height:0;
    border-left:6px solid #9EEA6A;
    border-top:4px solid transparent;
    border-bottom:4px solid transparent;
}


.chat-msg-img{
    position: relative;
    margin-top:1px;
    width:40px;
    padding-right:10px;
    height:30px;
    flex-shrink:0;
}
.chat-msg-img2{
    position: relative;
    margin-top:1px;
    width:40px;
    padding-left:10px;
    height:30px;
    flex-shrink:0;
}
.marginLeft10{
    margin-left:10px;
}
.marginRight10{
    margin-right:10px;
}

