
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.error-msg{
    color:#f50;
    padding-left:10px;
    padding-top:10px;
}

.am-tab-bar{
    position: fixed;
    bottom: 0;
    width: 100%;
    height:auto;
}

.dashboard-container{
    position: absolute;
    top:45px;
    bottom:50px;
    width:100%;
    overflow: auto;
    z-index:101;
}
.chat-list-container{
    position: absolute;
    top:45px;
    bottom:40px;
    padding-bottom:40px;
    width:100%;
    overflow-x: hidden;
    overflow-y: auto;
    z-index:101;

}

.fixd-header.am-navbar{
    position: fixed;
    top: 0;
    width: 100%;
}
.page-content{
    padding:45px 5px;
}


#chat-page .chat-me .am-list-extra{
    flex-basis:auto;
}
#chat-page .chat-me .am-list-content{
    padding-right: 15px;
    text-align: right;
}
#chat-page .am-grid-icon{
    display: none;
}
#chat-page .am-grid-text{
    margin-top: 0;
}
.stick-footer{
    z-index:1000;
    position: absolute;
    bottom: 0;
    width:100%;
}

.chat-msg-list{
    display: flex;
    position: relative;
    width:100%;
    min-height:40px;
    align-items: flex-start;
    justify-content: flex-end;
    margin-top:15px;
}
.chat-msg-list2{
    display: flex;
    position: relative;
    width:100%;
    min-height:40px;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top:15px;
}
.chat-msg-white{
    position: relative;
    width:80px;
    height:auto;
}
.chat-msg-block{
    position: relative;
    flex:1;
    max-width: 215px;
    height:auto;
    min-height:40px;
    padding:10px;
    font-size:14px;
    line-height:19px;
    background-color: #9EEA6A;
    word-break: break-all;
    border-radius: 4px;
    text-align: justify;
}
.chat-msg-img{
    position: relative;
    margin-top:1px;
    width:40px;
    padding-right:10px;
    height:30px;
    flex-shrink:0;
}
.chat-msg-img2{
    position: relative;
    margin-top:1px;
    width:40px;
    padding-left:10px;
    height:30px;
    flex-shrink:0;
}
.marginLeft10{
    margin-left:10px;
}
.marginRight10{
    margin-right:10px;
}



